# -----------------------------
# Core ML / Deep Learning
# -----------------------------
torch==2.5.1
torchvision==0.20.1
ultralytics>=8.3.0

# -----------------------------
# Computer Vision
# -----------------------------
opencv-python>=4.8.0
Pillow>=10.0.0
scikit-image>=0.22.0

# -----------------------------
# Data Handling
# -----------------------------
numpy>=1.26.0
pandas>=2.1.0
pycocotools>=2.0.7
pyyaml>=6.0

# -----------------------------
# Augmentation / Robustness
# -----------------------------
albumentations>=1.4.0


# -----------------------------
# Evaluation / Statistics
# -----------------------------
scikit-learn>=1.4.0
scipy>=1.11.0

# -----------------------------
# Plotting / Visualization
# -----------------------------
matplotlib>=3.8.0
seaborn>=0.13.0
tqdm>=4.66.0

# -----------------------------
# Utilities
# -----------------------------
requests>=2.31.0
rich>=13.7.0

